.mat-mdc-card {
    &.daxa-card {
        &.recent-orders-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                }
                .recent-orders-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            padding: {
                                top: 18px;
                                bottom: 18px;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        .mat-mdc-cell {
                            padding: {
                                top: 15px;
                                bottom: 15px;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        .info {
                            .image {
                                width: 40px;
                                line-height: 0.01;
                                margin-right: 12px;

                                img {
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .recent-orders-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                &:last-child {
                                    text-align: left;
                                }
                            }
                            .mat-mdc-cell {
                                &:last-child {
                                    text-align: left;
                                }
                            }
                            .info {
                                .image {
                                    margin: {
                                        right: 0;
                                        left: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.recent-orders-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        .mat-mdc-card-subtitle {
                            .search-box {
                                margin-left: 25px;
                            }
                        }
                    }
                }
                .mat-mdc-card-content {
                    .recent-orders-table {
                        .mat-mdc-paginator {
                            padding: {
                                top: 15px;
                                left: 20px;
                                right: 20px;
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            .mat-mdc-card-subtitle {
                                .search-box {
                                    margin: {
                                        left: 0;
                                        right: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Create New Folder Popup
::ng-deep {
    .create-new-popup {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 999;
        position: fixed;
        transition: 0.3s;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: {
            x: hidden;
            y: auto;
        }
        .popup-dialog {
            display: flex;
            transition: 0.3s;
            max-width: 950px;
            align-items: center;
            transform: translate(0, -20px);
            min-height: calc(100% - 1.75rem * 2);
            margin: {
                left: auto;
                right: auto;
            }
            .daxa-card {
                width: 100%;

                .mat-mdc-card-header {
                    border-bottom: 1px solid #eeeeee;
                    margin: {
                        left: -20px;
                        right: -20px;
                    }
                    padding: {
                        left: 20px;
                        right: 20px;
                        bottom: 18px;
                    }
                    .mat-mdc-card-subtitle {
                        .mat-mdc-button {
                            padding: 0;
                            height: auto;
                            line-height: 1;
                            min-width: auto;
                            display: inline-block;
                            font-size: 23px !important;
                        }
                    }
                }
                .mat-mdc-card-content {
                    .main-label {
                        margin-bottom: 12px;
                        font-size: 15px;
                    }
                    .mat-mdc-form-field {
                        margin-bottom: 20px;
                    }
                    .btn-box {
                        text-align: right;

                        .mat-mdc-button {
                            border: 0;
                            height: auto;
                            min-width: auto;
                            min-height: auto;
                            padding: 14px 35px;
                            font-weight: normal;
                            color: var(--whiteColor);
                            font-size: 15px !important;
                            background-color: var(--daxaColor);

                            &:first-child {
                                margin-right: 10px;
                                background-color: var(--dangerColor);
                            }
                        }
                    }
                }
            }
        }
        &.active {
            opacity: 1;
            visibility: visible;

            .popup-dialog {
                transform: none;
            }
        }
        &.rtl-enabled {
            .popup-dialog {
                .daxa-card {
                    .mat-mdc-card-content {
                        .btn-box {
                            text-align: left;

                            .mat-mdc-button {
                                &:first-child {
                                    margin: {
                                        right: 0;
                                        left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.recent-orders-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -15px;
                        right: -15px;
                    }
                    .recent-orders-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                padding: {
                                    top: 10px;
                                    bottom: 10px;
                                }
                            }
                            .mat-mdc-cell {
                                padding: {
                                    top: 10px;
                                    bottom: 10px;
                                }
                            }
                            .info {
                                .image {
                                    width: 40px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .recent-orders-table {
                            .mat-mdc-table {
                                .info {
                                    .image {
                                        margin: {
                                            right: 0;
                                            left: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.recent-orders-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            display: block;

                            .mat-mdc-card-subtitle {
                                margin-top: 12px;
                            }
                            .mat-mdc-card-subtitle {
                                .search-box {
                                    width: 68%;
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                    .mat-mdc-card-content {
                        .recent-orders-table {
                            .mat-mdc-paginator {
                                padding: {
                                    top: 10px;
                                    left: 15px;
                                    right: 15px;
                                }
                            }
                        }
                    }
                    &.rtl-enabled {
                        .mat-mdc-card-header {
                            .mat-mdc-card-header-text {
                                .mat-mdc-card-subtitle {
                                    .search-box {
                                        margin: {
                                            left: 0;
                                            right: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.recent-orders-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -20px;
                        right: -20px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.recent-orders-card {
                    .mat-mdc-card-content {
                        .recent-orders-table {
                            .mat-mdc-paginator {
                                padding: {
                                    left: 20px;
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.recent-orders-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            .mat-mdc-card-subtitle {
                                .search-box {
                                    width: 280px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {
}


.subtitle-row .actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; /* mobile responsive */
  }
  
  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
  }
  
  .search-box i {
    position: absolute;
    left: 10px;
    color: #888;
  }
  
  .input-search {
    width: 100%;
    padding: 8px 8px 8px 35px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
  }
  
  .input-search:focus {
    border-color: #3f51b5; /* Material blue focus color */
  }
  
