<mat-card>
    <mat-card-header>
        <mat-card-title>Committee List</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="customers-table">
            <div class="table-responsive">
                <table
                    mat-table
                    [dataSource]="dataSource"
                >
                    <!-- Loop through columns -->
                    <ng-container
                        *ngFor="let col of displayedColumns"
                        [matColumnDef]="col.key"
                    >
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            [style.width]="col.width"
                            class="text-nowrap"
                        >
                            {{ col.header }}
                        </th>

                        <td
                            mat-cell
                            *matCellDef="let element"
                            [style.width]="col.width"
                        >
                            <!-- Action Column -->
                            <ng-container
                                *ngIf="col.key !== 'action'; else actionTpl"
                            >
                                {{ element[col.key] }}
                            </ng-container>

                            <!-- Action Buttons -->
                            <ng-template #actionTpl>
                                <div class="action-info">
                                    <button
                                        mat-icon-button
                                        matTooltip="View"
                                        color="primary"
                                        (click)="ViewData(element)"
                                    >
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                    <button
                                        mat-icon-button
                                        matTooltip="Edit"
                                        color="accent"
                                        (click)="onEdit(element)"
                                    >
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button
                                        mat-icon-button
                                        matTooltip="Delete"
                                        color="warn"
                                        (click)="onDelete(element)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </ng-template>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnKeys"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnKeys"
                    ></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td
                            class="mat-cell"
                            [attr.colspan]="displayedColumns.length"
                        >
                            No data available
                        </td>
                    </tr>
                </table>
            </div>

            <mat-paginator
                [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
