<mat-card class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Profile Information
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="info-list pr-0 pl-0 mb-0 mt-0 list-unstyled">
            <li>
                <span class="text-body">User ID:</span> 7001
            </li>
            <li>
                <span class="text-body">Full Name:</span> Mateo Luca
            </li>
            <li>
                <span class="text-body">Email:</span> mateo&#64;daxa.com
            </li>
            <li>
                <span class="text-body">Role:</span> Administrator
            </li>
            <li>
                <span class="text-body">Location:</span> New York, USA
            </li>
            <li>
                <span class="text-body">Join Date:</span> May 10, 2022
            </li>
        </ul>
    </mat-card-content>
</mat-card>