<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Roles List</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerlink="/dashboard" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">قائمة الأدوار</li>
    </ol>
</div>

<div class="row" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card class="daxa-card recent-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <form class="search-box position-relative">
                    <i class="material-symbols-outlined"> search </i>
                    <input type="text" class="input-search d-block w-100 border-none outline-0"
                        placeholder="Search product..." (keyup)="applyFilter($event)" #input />
                </form>
            </mat-card-title>
            <mat-card-subtitle>
                <!-- <a mat-button class="add-new-btn" (click)="toggleClass()">
                    {{ Labels.Role.headingLabel[language] + " +" }}
                </a> -->

                <button (click)="toggleClass()"  mat-flat-button=""
                class="mdc-button mat-mdc-button-base daxa mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed"
                mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    class="mdc-button__label">{{ Labels.Role.headingLabel[language] + " +" }}</span><span class="mat-focus-indicator"></span><span
                    class="mat-mdc-button-touch-target"  ></span><span
                    class="mat-ripple mat-mdc-button-ripple"></span></button>
            </mat-card-subtitle>
        
        </mat-card-header>
        <mat-card-content>
            <div class="list-table">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                        <!-- RoleId ID Column -->
                        <ng-container matColumnDef="RoleId">
                            <th mat-header-cell *matHeaderCellDef>Role ID</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.RoleId }}
                            </td>
                        </ng-container>

                        <!-- RoleName Column -->
                        <ng-container matColumnDef="RoleName">
                            <th mat-header-cell *matHeaderCellDef>RoleName</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.RoleName }}
                            </td>
                        </ng-container>

                        <!-- RoleNameEn Column -->
                        <ng-container matColumnDef="RoleNameEn">
                            <th mat-header-cell *matHeaderCellDef>
                                RoleNameEn
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.RoleNameEn }}
                            </td>
                        </ng-container>

                        <!-- Menus Items Column -->
                        <ng-container matColumnDef="MenusItems">
                            <th mat-header-cell *matHeaderCellDef>Menus</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.MenusItems && element.MenusItems.length > 0">
                                    <div class="chips-grid">
                                        <mat-chip class="menu-chip" *ngFor="let menu of element.MenusItems"
                                            [color]="'primary'">
                                            {{ menu.Title }}
                                        </mat-chip>
                                    </div>
                                </div>
                                <div *ngIf="!element.MenusItems || element.MenusItems.length === 0">
                                    -
                                </div>
                            </td>
                        </ng-container>


                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="action-info">
                                    <a mat-button matTooltip="View Role" matTooltipPosition="above"
                                        (click)="ViewData(element)">
                                        <i class="material-symbols-outlined">
                                            visibility
                                        </i>
                                    </a>
                                    <a mat-button matTooltip="Edit Role" matTooltipPosition="above"
                                        (click)="onEdit(element)">
                                        <i class="material-symbols-outlined">
                                            edit
                                        </i>
                                    </a>
                                    <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above"
                                        (click)="onDelete(element)">
                                        <i class="material-symbols-outlined">
                                            delete
                                        </i>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">
                                No data matching the filter "{{ input.value }}"
                            </td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- Popup -->
<div class="create-new-popup" [class.active]="classApplied" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="popup-dialog">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        {{ Labels.Role.headingLabel[language] }}
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button (click)="toggleClass()">
                        <i class="ri-close-fill"></i>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <!-- Add the formGroup directive to wrap form controls -->
                <form [formGroup]="form" (ngSubmit)="onAddEdit()">
                    <div class="col-md-12">
                        <!-- English Role Name Input -->
                        <label class="main-label d-block lh-1 text-black">
                            {{ Labels.Role.labelEn[language] }}
                        </label>
                        <mat-form-field>
                            <mat-label>{{
                                Labels.Role.labelEn[language]
                                }}</mat-label>
                            <input matInput formControlName="roleLabelEn" placeholder="Enter English Role Name" />
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="
                                form.get('roleLabelEn')?.hasError('required') &&
                                form.get('roleLabelEn')?.touched
                            ">
                            {{ Labels.Role.labelEn[language] }} is required
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- Arabic Role Name Input -->
                        <label class="main-label d-block lh-1 text-black">
                            {{ Labels.Role.label[language] }}
                        </label>
                        <mat-form-field>
                            <mat-label>{{
                                Labels.Role.label[language]
                                }}</mat-label>
                            <input matInput formControlName="roleLabelAr" placeholder="Enter Arabic Role Name" />
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="
                                form.get('roleLabelAr')?.hasError('required') &&
                                form.get('roleLabelAr')?.touched
                            ">
                            {{ Labels.Role.label[language] }} is required
                        </div>
                    </div>


                    <!-- Screen Selection Multi-Select Dropdown -->
                    <div class="col-md-12">
                        <label class="main-label d-block lh-1 text-black">
                            Screens Screens
                        </label>
                        <mat-form-field>
                            <mat-label>Select Screens</mat-label>
                            <mat-select formControlName="selectedScreens" multiple>
                                <mat-option *ngFor="let screen of screensList" [value]="screen.Id">
                                    {{ screen.Title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="error text-danger"
                            *ngIf="form.get('selectedScreens')?.hasError('required') && form.get('selectedScreens')?.touched">
                            Please select at least one screen.
                        </div>
                    </div>


                    <!-- Actions Selection Multi-Select Dropdown -->
                    <div class="col-md-12">
                        <label class="main-label d-block lh-1 text-black">
                            Actions
                        </label>
                        <mat-form-field>
                            <mat-label>Select Screens</mat-label>
                            <mat-select formControlName="selectedActions" multiple>
                                <mat-option *ngFor="let action of actionList" [value]="action.ActionCode">
                                    {{ action.ActionName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="error text-danger"
                            *ngIf="form.get('selectedActions')?.hasError('required') && form.get('selectedActions')?.touched">
                            Please select at least one action.
                        </div>
                    </div>

                    <!-- Save and Cancel Buttons -->
                    <div class="btn-box">
                        <button mat-button type="button" (click)="toggleClass()">
                            {{ Labels.buttons.cancel[language] }}
                        </button>
                        <button mat-button type="submit">
                            {{ Labels.buttons.save[language] }}
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="create-new-popup" [class.active]="ViewclassApplied" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="popup-dialog">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        {{ Labels.Role.headingLabel[language] }}
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button (click)="toggleClassView()">
                        <i class="ri-close-fill"></i>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="col-md-12">
                    <!-- English Role Name Display -->
                    <label class="main-label d-block lh-1 text-black">
                        {{ Labels.Role.label[language] }}
                    </label>
                    <div class="readonly-display">
                        <span *ngIf="selectedRow && selectedRow.RoleName">
                            {{ selectedRow.RoleName }}
                        </span>
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- Arabic Role Name Display -->
                    <label class="main-label d-block lh-1 text-black">
                        {{ Labels.Role.labelEn[language] }}
                    </label>
                    <div class="readonly-display">
                        <span *ngIf="selectedRow && selectedRow.RoleNameEn">
                            {{ selectedRow.RoleNameEn }}
                        </span>
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <label class="main-label d-block lh-1 text-black">
                        Screens Permissions
                    </label>
                    <div class="screens-grid">
                        <div *ngFor="let menuItem of selectedRow?.MenusItems" class="menu-item-chip">
                            <mat-chip class="menu-chip" *ngIf="menuItem.Title">
                                {{ menuItem.Title }}
                            </mat-chip>
                        </div>
                    </div>
                </div> -->


                <div class="col-md-12">
                    <label class="main-label d-block lh-1 text-black">
                        Screens Permissions
                    </label>
                    <div class="action-codes-grid">
                        <mat-chip-set>
                            <mat-chip *ngFor="let menuItem of selectedRow?.MenusItems" class="menu-item-chip">
                                {{ menuItem.Title}}
                            </mat-chip>
                        </mat-chip-set>
                    </div>
                </div>


                <div class="col-md-12">
                    <label class="main-label d-block lh-1 text-black">
                        Action Codes
                    </label>
                    <div class="action-codes-grid">
                        <mat-chip-set>
                            <mat-chip *ngFor="let actionCode of selectedRow?.ActionCodesListing">
                                {{ actionCode.ControlID }}
                            </mat-chip>
                        </mat-chip-set>
                    </div>
                </div>

                <!-- Close Button -->
                <div class="btn-box">
                    <button mat-button (click)="toggleClassView()">
                        {{ Labels.buttons.cancel[language] }}
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<app-dynamic-form-popup
    [title]="'Add/Edit Application'"
    [isActive]="popupVisible"
    [fields]="fields"
    (close)="popupVisible = false"
    (submitForm)="submit($event)"
   
></app-dynamic-form-popup>