<div class="sidebar-area bg-white active" [ngClass]="{ active: isSidebarToggled }"
    [class.component-dark-theme]="themeService.isDark()" [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()" [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd-theme]="themeService.isCardBorder()" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="logo bg-white">
        <a routerLink="/dashboard" class="d-flex align-items-center">
            <img src="assets/images/logo-icon.svg" alt="logo-icon" />
            <span class="fw-semibold">Daxa</span>
        </a>
    </div>
    <div (click)="toggle()" class="burger-menu" [ngClass]="{ active: isSidebarToggled }">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>

    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <ng-container *ngFor="let menuItem of appMenuItems">
                        <ng-container *ngIf="!menuItem.IsExpandable && menuItem.Title !== 'Dashboard'">
                            <a [routerLink]="menuItem.RouterLink" class="sidebar-menu-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                <i class="material-symbols-outlined">{{
                                    menuItem.Icon
                                    }}</i>
                                <span class="title">{{ menuItem.Title }}</span>
                                <span *ngIf="+menuItem.Badge > 0 " class="daxa-badge">{{ menuItem.Badge }}</span>
                            </a>
                        </ng-container>

                        <ng-container *ngIf="menuItem.IsExpandable">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i class="material-symbols-outlined">{{
                                            menuItem.Icon
                                            }}</i>
                                        <span class="title">{{
                                            menuItem.Title
                                            }}</span>

                                        <span *ngIf="menuItem.subMenuItems?.length as length" class="daxa-badge">
                                            {{ length }}
                                        </span>

                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <ul class="sidebar-sub-menu">
                                    <li *ngFor="
                                            let subItem of menuItem.subMenuItems
                                        " class="sidemenu-item">
                                        <a [routerLink]="subItem.RouterLink" class="sidemenu-link">{{ subItem.Title
                                            }}</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </ng-container>
                    </ng-container>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>


</div>