<div class="create-new-folder-popup active">
    <div class="popup-dialog">
        <mat-card
            class="daxa-card mb-25 border-radius bg-white border-none d-block"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">{{ data.title }}</h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button (click)="onCancel()">
                        <i class="ri-close-fill"></i>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="mb-4">{{ data.message }}</p>
                <div class="btn-box">
                    <button mat-button (click)="onCancel()">Cancel</button>
                    <button mat-button color="warn" (click)="onConfirm()">
                        Delete
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
