


@font-face {
    font-family: 'Al-Jazeera-Arabic-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(Al-Jazeera-Arabic-Regular.eot);
    src: url(Al-Jazeera-Arabic-Regular.eot?#iefix) format('embedded-opentype'),
    /*url(DroidNaskh-Bold.woff2) format('woff2'),
       url(DroidNaskh-Bold.woff) format('woff'),*/
    url(Al-Jazeera-Arabic-Regular.ttf) format('truetype');
}
