<div class="statistics-container">
    <div class="row">
        <mat-card style="padding-bottom: 20px">
            <div class="row align-items-center g-2">
                <div class="col-md-10">
                    <app-dynamic-form-fields
                        [fields]="fields"
                        [form]="form"
                        [showSubmit]="false"
                        (submitForm)="onSubmit($event)"
                    ></app-dynamic-form-fields>
                </div>

                <div class="col-md-2 text-end mt-4">
                    <button
                        mat-raised-button
                        color="primary"
                        type="button"
                        (click)="onSubmit(form.value)"
                    >
                        عرض
                    </button>
                </div>
            </div>

            <!-- Stats Cards -->
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="mat-md-c-card custom shadow-sm mt-3">
                        <mat-card-content>
                            <div
                                class="d-flex align-items-center justify-content-between"
                            >
                                <div class="title">
                                    <h5 class="mb-1 text-secondary">
                                        إجمالي ساعات المواعيد
                                    </h5>
                                    <div class="number fw-bold fs-4 text-dark">
                                        {{ totalAppointmentHours }}
                                    </div>
                                </div>
                                <div
                                    class="icon bg-warning rounded-circle d-flex align-items-center justify-content-center text-white shadow-lg"
                                    style="width: 50px; height: 50px"
                                >
                                    <i class="material-symbols-outlined fs-4"
                                        >schedule</i
                                    >
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md-4">
                    <mat-card class="mat-md-c-card custom shadow-sm mt-3">
                        <mat-card-content>
                            <div
                                class="d-flex align-items-center justify-content-between"
                            >
                                <div class="title">
                                    <h5 class="mb-1 text-secondary">
                                        مواعيد مع الموظفين
                                    </h5>
                                    <div class="number fw-bold fs-4 text-dark">
                                        {{ appointmentsWithEmployees }}
                                    </div>
                                </div>
                                <div
                                    class="icon bg-primary rounded-circle d-flex align-items-center justify-content-center text-white shadow-lg"
                                    style="width: 50px; height: 50px"
                                >
                                    <i class="material-symbols-outlined fs-4"
                                        >group</i
                                    >
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md-4">
                    <mat-card class="mat-md-c-card custom shadow-sm mt-3">
                        <mat-card-content>
                            <div
                                class="d-flex align-items-center justify-content-between"
                            >
                                <div class="title">
                                    <h5 class="mb-1 text-secondary">
                                        مواعيد مع المواطنين
                                    </h5>
                                    <div class="number fw-bold fs-4 text-dark">
                                        {{ appointmentsWithCitizens }}
                                    </div>
                                </div>
                                <div
                                    class="icon bg-success rounded-circle d-flex align-items-center justify-content-center text-white shadow-lg"
                                    style="width: 50px; height: 50px"
                                >
                                    <i class="material-symbols-outlined fs-4"
                                        >home</i
                                    >
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <!-- Charts -->
            <div class="row">
                <div class="col-md-6 mt-4">
                    <mat-card class="mat-md-c-card custom shadow-sm">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>📊 المواعيد الشهرية</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <apx-chart
                                *ngIf="monthlyChartOptions"
                                [series]="monthlyChartOptions.series"
                                [chart]="monthlyChartOptions.chart"
                                [xaxis]="monthlyChartOptions.xaxis"
                                [colors]="monthlyChartOptions.colors"
                                [dataLabels]="monthlyChartOptions.dataLabels"
                            ></apx-chart>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md-6 mt-4">
                    <mat-card class="mat-md-c-card custom shadow-sm">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>📆 المواعيد الأسبوعية</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <apx-chart
                                *ngIf="weeklyChartOptions"
                                [series]="weeklyChartOptions.series"
                                [chart]="weeklyChartOptions.chart"
                                [xaxis]="weeklyChartOptions.xaxis"
                                [colors]="weeklyChartOptions.colors"
                                [dataLabels]="weeklyChartOptions.dataLabels"
                            ></apx-chart>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <mat-card
                        class="working-schedule-card custom p-4 shadow-sm"
                    >
                        <mat-card-header>
                            <mat-card-title>
                                <h3>📅 المواعيد اليومية</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <apx-chart
                                *ngIf="dailyChartOptions"
                                [series]="dailyChartOptions.series"
                                [chart]="dailyChartOptions.chart"
                                [xaxis]="dailyChartOptions.xaxis"
                                [stroke]="dailyChartOptions.stroke"
                                [markers]="dailyChartOptions.markers"
                                [colors]="dailyChartOptions.colors"
                                [dataLabels]="dailyChartOptions.dataLabels"
                            ></apx-chart>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>
