<mat-card class="working-schedule-card">
    <mat-card-header>
        <mat-card-title>
            <h5>Working Schedule</h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-calendar [(selected)]="selected" (selectedChange)="onDateChange($event)"></mat-calendar>
        <div class="events-content">
            <h5>EVENTS</h5>
            <div class="events-list-container">
                <ul>
                    <li *ngFor="let event of todayEvents?.dailyEvents">
                        <div class="event-header">
                            <span class="event-dot"
                                [style.background-color]="getEventTypeColor(event.EventType)"></span>
                            <p class="event-title">{{ event.Title }}</p>
                        </div>

                        <div class="event-datetime">
                            {{ event.Date | date: 'EEEE, dd MMM' }}
                            <span>({{ event.StartTime }} - {{ event.EndTime }})</span>
                        </div>

                        <div class="event-badges">
                            <span class="event-badge status-badge"
                                [style.background-color]="getStatusColor(event.StatusColor)">
                                <strong>Status:</strong> {{ event.StatusName }}
                            </span>
                            <span class="event-badge type-badge"
                                [style.background-color]="getEventTypeColor(event.EventType)">
                                <strong>Type:</strong> {{ event.EventType }}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>